body{
    background-image: linear-gradient(to bottom, #ffffff, #fcfbfc, #f9f7f8, #f7f3f3, #f4efed, #f3ece8, #f2e9e2, #efe7dd, #f1e3d7, #f3e0d1, #f5dbcd, #f8d7c9);    text-align: center;
    font-family: 'Luxurious Roman', cursive;
    background-position: center;
    text-decoration: none;
    color: black;
}
.encabezado{
    width: 100vw;
    padding: 1%;
    margin: 0%;
}
.logo{
    width: 100vw;
}
li{
    display: inline-table;
    width: 19%;
    text-align: center;
    justify-content: center;
}
h1{
    color: rgb(0, 1, 2);
}
.video{
    width: 100vw;
    margin: 2px;
    padding: 10px;
    border: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container img{
    width: 20%;
    height: 20%;
}
.formularios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-fluid{
    overflow: hidden;
}
.container-fluid__logogr{
    transition: all 1.3s ease;
}
.container-fluid:hover logogr{
transform: scale(1.2);
}
.logogr{
    width: 25vw;
    transition: all 1.3s ease;
}

.mb-3{
    padding: 2%;
    margin: 10%;
    display: flex;
    justify-content: center;
    height: 30%;
}
.mb-3a{
    height: 40vh;
}
.parrafo{
    padding: 0%;
    margin: 0%;
}
.carousel-inner{
    margin: 1em;
    padding: 1em;
}
.cuerpo{
    padding: 5%;
}