*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(to bottom, #e0e8f0, #ceccdc, #c6aebf, #bc9295, #a37c68);
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
    background-position: center;
    text-decoration: none;
    color: black;
    height: 100vh;
}
.encabezado{
    width: 100vw;
    padding: 1%;
    margin: 0%;
}
.logo{
    width: 100vw;
}
li{
    display: inline-table;
    width: 19%;
    text-align: center;
    justify-content: center;
}
h1{
    color: rgb(0, 1, 2);
}
.video{
    width: 100vw;
    margin: 2px;
    padding: 10px;
    border: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container img{
    width: 200px;
    height: 200px;
}
.formularios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
